In [9]:
import pandas as pd
from os import listdir
from sqlalchemy import create_engine

file_path = [f for f in listdir("../tableau-challenge") if f.endswith('.csv')]
df_citibike = pd.concat(map(pd.read_csv, file_path))
df_citibike.head()
#file_path = '201306-citibike-tripdata.csv'

#df = pd.read_csv(file_path, encoding='windows-1252')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164.0,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388.0,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293.0,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531.0,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382.0,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [10]:
df_citibike.info

<bound method DataFrame.info of          tripduration                 starttime                  stoptime  \
0                 634       2013-07-01 00:00:00       2013-07-01 00:10:34
1                1547       2013-07-01 00:00:02       2013-07-01 00:25:49
2                 178       2013-07-01 00:01:04       2013-07-01 00:04:02
3                1580       2013-07-01 00:01:06       2013-07-01 00:27:26
4                 757       2013-07-01 00:01:10       2013-07-01 00:13:47
...               ...                       ...                       ...
2105803           877  2020-07-31 23:59:48.9250  2020-08-01 00:14:26.2540
2105804           839  2020-07-31 23:59:51.7740  2020-08-01 00:13:50.9750
2105805          1042  2020-07-31 23:59:56.1460  2020-08-01 00:17:18.5090
2105806           699  2020-07-31 23:59:57.4310  2020-08-01 00:11:36.5420
2105807           249  2020-07-31 23:59:58.7260  2020-08-01 00:04:08.2070

         start station id           start station name  \
0                   164.0              E 47 St & 2 Ave
1                   388.0             W 26 St & 10 Ave
2                   293.0        Lafayette St & E 8 St
3                   531.0       Forsyth St & Broome St
4                   382.0      University Pl & E 14 St
...                   ...                          ...
2105803             217.0                Old Fulton St
2105804            4044.0              8 Ave & W 38 St
2105805            3723.0  Cadman Plaza E & Johnson St
2105806             161.0        LaGuardia Pl & W 3 St
2105807             446.0              W 24 St & 7 Ave

         start station latitude  start station longitude  end station id  \
0                     40.753231               -73.970325           504.0
1                     40.749718               -74.002950           459.0
2                     40.730287               -73.990765           237.0
3                     40.718939               -73.992663           499.0
4                     40.734927               -73.992005           410.0
...                         ...                      ...             ...
2105803               40.702772               -73.993836           398.0
2105804               40.754610               -73.991770          3163.0
2105805               40.695317               -73.990157           350.0
2105806               40.729170               -73.998102           504.0
2105807               40.744876               -73.995299          3259.0

                    end station name  end station latitude  \
0                    1 Ave & E 15 St             40.732219
1                   W 20 St & 11 Ave             40.746745
2                    E 11 St & 2 Ave             40.730473
3                 Broadway & W 60 St             40.769155
4            Suffolk St & Stanton St             40.720664
...                              ...                   ...
2105803     Atlantic Ave & Furman St             40.691652
2105804  Central Park West & W 68 St             40.773407
2105805        Clinton St & Grand St             40.715595
2105806              1 Ave & E 16 St             40.732219
2105807              9 Ave & W 28 St             40.749370

         end station longitude  bikeid    usertype birth year  gender
0                   -73.981656   16950    Customer         \N       0
1                   -74.007756   19816    Customer         \N       0
2                   -73.986724   14548  Subscriber       1980       2
3                   -73.981918   16063    Customer         \N       0
4                   -73.985180   19213  Subscriber       1986       1
...                        ...     ...         ...        ...     ...
2105803             -73.999979   44073    Customer       1969       0
2105804             -73.977825   41797    Customer       2002       1
2105805             -73.987030   24808  Subscriber       1974       1
2105806             -73.981656   41486  Subscriber       1991       1
2105807             -73.999234   28699    Customer       1990       1

[12214140 rows x 15 columns]>

In [11]:
engine = create_engine("sqlite:///../tableau-challenge/citibike.sqlite", echo=False)